# Node modules
node_modules

# Clear repository
.env
.cache
package.json
package-lock.json
yarn.lock
compiled/*
!compiled/.gitkeep
src/*
!src/.gitkeep

# Mac
*.DS_Store
**/.DS_Store

# VS Code
# .vscode
.history
